
body {
  background-image: url("ocean.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;}
.overlay-desc {
  background: rgba(0,0,0,0);
  position: relative;
  top: 0; right: 0; bottom: 0; left: 0;
  display: block;
  align-items: center;
  justify-content: center;
  }
.nav {
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow: auto;
  transition: 0.5s;
  opacity: 0.65;}
.nav-content{
  width: 100%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;}
.nav-section {font-size: 2vw;}
.nav-small {font-size: 1vw;}
.nav a{
  font-family: 'Julius Sans One', sans-serif;
  padding: 8px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;}
.nav a:hover, .nav a:focus {color: #003AD9; cursor: pointer}
