#menu {
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 70;
    position: fixed;
}

ul {
  list-style: none;
}

li {
  display: inline;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  padding: 5vh;
  font-size: 2vh;

}

.menu a:hover {
  text-decoration: none;
}
